<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- ************************************************* 
		 ** 			Authentication					** 
		 ************************************************* -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>cpe.canoe.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>cpe.canoe.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/auth/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>cpe.canoe.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EditProfile</servlet-name>
		<servlet-class>cpe.canoe.servlet.EditProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProfile</servlet-name>
		<url-pattern>/auth/edit</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>NewPassword</servlet-name>
		<servlet-class>cpe.canoe.servlet.NewPasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewPassword</servlet-name>
		<url-pattern>/auth/newpassword</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>cpe.canoe.listener.SessionCounterListener</listener-class>
	</listener>
	
	<!-- ************************************************* 
	 ** 			END Authentication					** 
	 ************************************************* -->

	<!-- ************************************************* 
		 ** 			ADMIN 							** 
		 ************************************************* -->

	<!-- Main -->
	<servlet>
		<servlet-name>IndexAdmin</servlet-name>
		<servlet-class>cpe.canoe.servlet.AdminMainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexAdmin</servlet-name>
		<url-pattern>/admin/index</url-pattern>
	</servlet-mapping>

	<!-- Gestion des vols -->
	<servlet>
		<servlet-name>flightAdminAdd</servlet-name>
		<servlet-class>cpe.canoe.servlet.AdminFlightAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>flightAdminAdd</servlet-name>
		<url-pattern>/admin/flight-add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>flightAdminSearch</servlet-name>
		<servlet-class>cpe.canoe.servlet.AdminFlightSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>flightAdminSearch</servlet-name>
		<url-pattern>/flight/flight-search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>flightAdminDelete</servlet-name>
		<servlet-class>cpe.canoe.servlet.AdminFlightDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>flightAdminDelete</servlet-name>
		<url-pattern>/flight/flight-delete</url-pattern>
	</servlet-mapping>




	<!-- User Manager -->
	<servlet>
		<servlet-name>AdminUser</servlet-name>
		<servlet-class>cpe.canoe.servlet.AdminUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUser</servlet-name>
		<url-pattern>/admin/users</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminUserDelete</servlet-name>
		<servlet-class>cpe.canoe.servlet.AdminUserDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUserDelete</servlet-name>
		<url-pattern>/admin/delete</url-pattern>
	</servlet-mapping>

	<!-- ************************************************* 
	 	 ** 			END ADMIN 						** 
		 ************************************************* -->

	<servlet>
		<servlet-name>FlightHistory</servlet-name>
		<servlet-class>cpe.canoe.servlet.HistoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlightHistory</servlet-name>
		<url-pattern>/flight/history</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
	<servlet-name>SystemServiceServlet</servlet-name>
	<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
	<init-param>
		<param-name>services</param-name>
		<param-value/>
	</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
</web-app>